[user]
	name = Mugdha Adhav
	email = mugdha.adhav@gmail.com

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[diff]
	algorithm = histogram

[merge]
	conflictstyle = zdiff3

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
